force-app/main/default/flows/Report_Volunteer_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Record_to_Collection</name>
        <label>Assign Record to Collection</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Confirmed_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Rows</name>
        <label>Assign Selected Rows</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRowsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Confirmed_Shift_Hours.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Single_Record</name>
        <label>Assign values to Single Record</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varSingleRecord.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Confirmed_Shifts.GW_Volunteers__Volunteer_Job__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleRecord.GW_Volunteers__Hours_Worked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Confirmed_Shifts.GW_Volunteers__Hours_Worked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleRecord.GW_Volunteers__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormattedShiftDates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleRecord.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Confirmed_Shifts.GW_Volunteers__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleRecord.GW_Volunteers__Total_Hours_Worked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Confirmed_Shifts.GW_Volunteers__Total_Hours_Worked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Confirmed_Shifts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_record_selected</name>
        <label>Check if record selected</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hours</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCompletedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-30</expression>
    </formulas>
    <formulas>
        <name>varFormattedShiftDates</name>
        <dataType>String</dataType>
        <expression>CASE(
MOD({!Loop_Confirmed_Shifts.GW_Volunteers__Start_Date__c} - DATE(1900, 1, 7), 7),
0, &quot;Sunday&quot;,
1, &quot;Monday&quot;,
2, &quot;Tuesday&quot;,
3, &quot;Wednesday&quot;,
4, &quot;Thursday&quot;,
5, &quot;Friday&quot;,
&quot;Saturday&quot;
)
&amp; 
&apos;, &apos;
&amp;
LPAD(TEXT(DAY({!Loop_Confirmed_Shifts.GW_Volunteers__Start_Date__c})), 2, &quot;0&quot;)
&amp; &quot;/&quot; &amp;
LPAD(TEXT(MONTH({!Loop_Confirmed_Shifts.GW_Volunteers__Start_Date__c})), 2, &quot;0&quot;)
&amp; &quot;/&quot; &amp;
TEXT(YEAR({!Loop_Confirmed_Shifts.GW_Volunteers__Start_Date__c}))
&amp;
IF(
  NOT(ISBLANK({!Loop_Confirmed_Shifts.GW_Volunteers__Shift_Start_Date_Time__c})),
  &apos; &apos; &amp;
  TEXT(VALUE(MID(TEXT({!Loop_Confirmed_Shifts.GW_Volunteers__Shift_Start_Date_Time__c} - {!TZoffset}/24), 12, 2))) &amp;
  &apos;:&apos; &amp;
  CASE(
    TEXT(VALUE(MID(TEXT({!Loop_Confirmed_Shifts.GW_Volunteers__Shift_Start_Date_Time__c} - {!TZoffset}/24), 15, 2))),
    &apos;0&apos;, &quot;00&quot;,
    TEXT(VALUE(MID(TEXT({!Loop_Confirmed_Shifts.GW_Volunteers__Shift_Start_Date_Time__c} - {!TZoffset}/24), 15, 2)))
  ) &amp;
  &apos; - &apos; &amp;
  TEXT(VALUE(MID(TEXT(({!Loop_Confirmed_Shifts.GW_Volunteers__Shift_Start_Date_Time__c} - {!TZoffset}/24) + {!Loop_Confirmed_Shifts.GW_Volunteers__Hours_Worked__c}/24), 12, 2))) &amp;
  &apos;:&apos; &amp;
  CASE(
    TEXT(VALUE(MID(TEXT({!Loop_Confirmed_Shifts.GW_Volunteers__Shift_Start_Date_Time__c} - {!TZoffset}/24), 15, 2))),
    &apos;0&apos;, &quot;00&quot;,
    TEXT(VALUE(MID(TEXT({!Loop_Confirmed_Shifts.GW_Volunteers__Shift_Start_Date_Time__c} - {!TZoffset}/24), 15, 2)))
  ),
  &apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Report Volunteer Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Report Volunteer Hours</label>
    <loops>
        <name>Loop_Confirmed_Shifts</name>
        <label>Loop Confirmed Shifts</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Confirmed_Shifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Single_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Shift_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Record</name>
        <label>Loop Selected Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>Confirmed_Shift_Hours.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_Rows</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_record_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Confirmed_Shifts</name>
        <label>Get Confirmed Shifts</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Confirmed_Shifts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 5 OR (3 AND 4))</filterLogic>
        <filters>
            <field>GW_Volunteers__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactid</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varCompletedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web Sign Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <sortField>GW_Volunteers__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hours</name>
        <label>Update Hours</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varSelectedRowsText</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GW_Volunteers__Hours_Worked__c</field>
            <value>
                <elementReference>Clocked_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Shift_Hours</name>
        <label>Shift Hours</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Record</targetReference>
        </connector>
        <fields>
            <name>Shift_Hours_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shift_Hours_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacer_1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Below table displays all your signed up shifts. Please select a shift to report your time,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Confirmed_Shift_Hours</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GW_Volunteers__Volunteer_Hours__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Report Hours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varRecordCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Volunteer_Job__c&quot;,&quot;guid&quot;:&quot;column-222a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Job Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Volunteer Job&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Comments__c&quot;,&quot;guid&quot;:&quot;column-c5ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Shift Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Status__c&quot;,&quot;guid&quot;:&quot;column-f53a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Shift Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Total_Hours_Worked__c&quot;,&quot;guid&quot;:&quot;column-ca4f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Reported Hours&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Hours Worked&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Shift_Hours_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shift_Hours_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please enter your shift hours&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shift_Hours_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clocked_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shift_Hours_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Confirmed_Shifts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TZoffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varSelectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varSelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varSelectedRowsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
</Flow>
