force-app/main/default/flows/Volunteer_Shift_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_HTML_Markup</name>
        <label>Remove HTML Markup</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>RemoveHtmlMarkup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CurrentShiftRecord</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>richText</name>
            <value>
                <elementReference>Get_Volunteer_Hour.GW_Volunteers__Volunteer_Job__r.GW_Volunteers__Description__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ModifiedText</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Selected_Shift_from_Calendar_to_Hours_Record_Variable</name>
        <label>Assign Selected Shift from Calendar to Hours Record Variable</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varCalendarShiftHourRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shiftid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCalendarShiftHourRecord.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCalendarShiftHourRecord.GW_Volunteers__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled by the Volunteer via V4S Experience Cloud Site</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Shift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Recurring_Shifts</name>
        <label>Count of Recurring Shifts</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varShiftCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Volunteer_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentShiftRecord</name>
        <label>CurrentShiftRecord</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCurrentShiftRecord.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Hour.GW_Volunteers__Volunteer_Job__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentShiftRecord.GW_Volunteers__Planned_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Hour.GW_Volunteers__Planned_Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentShiftRecord.GW_Volunteers__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifiedText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentShiftRecordCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentShiftRecordCollection</name>
        <label>CurrentShiftRecordCollection</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCurrentShiftCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentShiftRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Volunteer_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Future_Shift_Assignment</name>
        <label>Future Shift Assignment</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopHours.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRecord.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRecord.GW_Volunteers__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation initiated by the Volunteer via V4S Experience Cloud Site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRecord.GW_Volunteers__Planned_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopHours.GW_Volunteers__Planned_Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRecord.GW_Volunteers__Hours_Worked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopHours.GW_Volunteers__Hours_Worked__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Future_Shift_Assignment_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Future_Shift_Assignment_to_a_Collection</name>
        <label>Future Shift Assignment to a Collection</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varUpdateAllCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopHours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_All</name>
        <label>Cancel All</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Cancel_Selected_Shift_From_Calendar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Selected_Shift_From_Calendar_1</targetReference>
            </connector>
            <label>Cancel Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TEST SHIFT FLOWS {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Volunteer Shift Cancellation Flow</label>
    <loops>
        <name>LoopHours</name>
        <label>LoopHours</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Related_Volunteer_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Future_Shift_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Selected_Shift_from_Calendar_to_Hours_Record_Variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Volunteer_Hours</name>
        <label>Get Related Volunteer Hours</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Recurring_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer_Hour.GW_Volunteers__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer_Hour.GW_Volunteers__Volunteer_Job__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Planned_Start_Date_Time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No-Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Shift__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>shiftid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Hour</name>
        <label>Get Volunteer Hour</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_HTML_Markup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shiftid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_All_Shifts</name>
        <label>Cancel All Selected Future Shifts</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <inputReference>varSelectedShiftForCancellation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Selected_Shift_From_Calendar</name>
        <label>Cancel Selected Shift From Calendar</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <inputReference>varCalendarShiftHourRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Selected_Shift_From_Calendar_1</name>
        <label>Cancel Selected Shift From Calendar</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Cancel_All_Shifts</targetReference>
        </connector>
        <inputReference>varCalendarShiftHourRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cancel_Shift</name>
        <label>Cancel Shift</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cancel_All</targetReference>
        </connector>
        <fields>
            <name>Shift_Info</name>
            <fieldText>Shift Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shift_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacer_1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Current_row_data</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GW_Volunteers__Volunteer_Hours__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varCurrentShiftCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Planned_Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-3a3e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Shift Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Planned Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Volunteer_Job__c&quot;,&quot;guid&quot;:&quot;column-be26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Job&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Volunteer Job&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Comments__c&quot;,&quot;guid&quot;:&quot;column-2ba4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Job Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cancel_Shift_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cancel_Shift_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recurring_Confirmation</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have &lt;strong&gt;{!varShiftCount}&lt;/strong&gt; future scheduled shifts for this Job. Do you want to cancel any of them?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cancel_Shift_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cancel_toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cancel Future Shifts?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Future_Shifts</name>
            <fieldText>Future Shifts</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Future_Shifts_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacer_2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_Shifts_for_Cancellation</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GW_Volunteers__Volunteer_Hours__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Future Shifts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varUpdateAllCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Planned_Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-bf5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Shift Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Planned Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Hours_Worked__c&quot;,&quot;guid&quot;:&quot;column-411d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Duration&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Hours Worked&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedShiftForCancellation</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancel_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancel Shift</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Hour</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ModifiedText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shiftid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCalendarShiftHourRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varCurrentShiftCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varCurrentShiftRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varSelectedShiftForCancellation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varShiftCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUpdateAllCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
</Flow>
