force-app/main/default/flows/Volunteer_Sign_Up_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Recurring_Record_Collection</name>
        <label>Add to Recurring Record Collection</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varInsertRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInsertRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Shift_from_Calendar_to_Record_Variable</name>
        <label>Assign Selected Shift from Calendar to Record Variable</label>
        <locationX>842</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__Volunteer_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shiftid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedShiftRecord.GW_Volunteers__Volunteer_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__Planned_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedShiftRecord.GW_Volunteers__Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedShiftDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedShiftDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertSelectedHourRecord.GW_Volunteers__Hours_Worked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedShiftRecord.GW_Volunteers__Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Shift_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Recurring_Record_Variable</name>
        <label>Assign to Recurring Record Variable</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__Volunteer_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Shifts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Shifts.GW_Volunteers__Volunteer_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__Planned_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Shifts.GW_Volunteers__Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoopConvertedShiftDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoopConvertedShiftDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsertRecord.GW_Volunteers__Hours_Worked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Shifts.GW_Volunteers__Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Recurring_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Of_Filter_One</name>
        <label>Count Of Filter One</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varSignedUpAlready</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Confirmed_Hours_By_Selected_Shifts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_The_Selected_Shift_Is_Signed_Up_Already</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Found_Record</name>
        <label>Count of Found Record</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varFoundCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Existing_Shift</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Recurring_SHift</name>
        <label>Count of Recurring Shift</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varRecurrigShiftCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varInsertRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Selected_Shift_from_Calendar_to_Record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentShiftRecordCollection</name>
        <label>CurrentShiftRecordCollection</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCurrentShiftRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedShiftRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recurring_Shift_Info</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Confirmed_Hours_By_Selected_Shifts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Confirmed Hours By Selected Shifts</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Confirmed_Hours_By_Selected_Shifts_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varConfirmedVolunteerHours</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Confirmed_Hours_By_Selected_Shifts_0.GW_Volunteers__Volunteer_Shift__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>shiftid</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Of_Filter_One</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_Existing_Shift</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Existing Shift</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Find_Existing_Shift_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varConfirmedVolunteerHours</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_Existing_Shift_0.GW_Volunteers__Volunteer_Shift__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Shifts.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Find_Existing_Shift_0.GW_Volunteers__Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Canceled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_of_Found_Record</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Recurring_Signup</name>
        <label>Check for Recurring Signup</label>
        <locationX>842</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Insert_Selected_Shift_From_Calendar_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shift_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Selected_Shift_From_Calendar</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Selected_Shift_Is_In_Past</name>
        <label>Check If Selected Shift Is In Past</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CurrentShiftRecordCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Don_t_Allow_Past_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedShiftRecord.GW_Volunteers__Start_Date_Time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllowPastShift</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Past_Shift_Selection_Message</targetReference>
            </connector>
            <label>Don&apos;t Allow Past Shift</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_The_Selected_Shift_Is_Signed_Up_Already</name>
        <label>Check If The Selected Shift Is Signed Up Already</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Shifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signed_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSignedUpAlready</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSignedUpAlready</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Signed_Up_Message</targetReference>
            </connector>
            <label>Signed Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Exists</name>
        <label>Check Record Exists</label>
        <locationX>1018</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Recurring_Record_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFoundCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFoundCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Shifts</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varLoopConvertedShiftDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Loop_Shifts.GW_Volunteers__Start_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>varSelectedShiftDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varSelectedShiftRecord.GW_Volunteers__Start_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>Volunteer Sign Up Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Volunteer Sign Up Flow</label>
    <loops>
        <name>Loop_Shifts</name>
        <label>Loop Shifts</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <collectionReference>varAllRecurringShifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Existing_Shift</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_of_Recurring_SHift</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Selected_Future_Recurring_Shifts</name>
        <label>Insert Selected Future Recurring Shifts</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <inputReference>varSelectedRecordsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Selected_Shift_From_Calendar</name>
        <label>Insert Selected Shift From Calendar</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Insert_Selected_Future_Recurring_Shifts</targetReference>
        </connector>
        <inputReference>varInsertSelectedHourRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Selected_Shift_From_Calendar_1</name>
        <label>Insert Selected Shift From Calendar</label>
        <locationX>1106</locationX>
        <locationY>2246</locationY>
        <inputReference>varInsertSelectedHourRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Recurring_Shift_Info</name>
        <label>Get Recurring Shift Info</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedShiftRecord.GW_Volunteers__Volunteer_Job__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Start_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>shiftid</elementReference>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <outputReference>varAllRecurringShifts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GW_Volunteers__Start_Date_Time__c</queriedFields>
        <queriedFields>Shift_End_Date_Time__c</queriedFields>
        <queriedFields>Job_Name__c</queriedFields>
        <queriedFields>GW_Volunteers__Duration__c</queriedFields>
        <queriedFields>GW_Volunteers__Volunteer_Job__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Shift</name>
        <label>Get Selected Shift</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Selected_Shift_Is_In_Past</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shiftid</elementReference>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <outputReference>varSelectedShiftRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GW_Volunteers__Start_Date_Time__c</queriedFields>
        <queriedFields>Job_Name__c</queriedFields>
        <queriedFields>Shift_End_Date_Time__c</queriedFields>
        <queriedFields>GW_Volunteers__Duration__c</queriedFields>
        <queriedFields>GW_Volunteers__Volunteer_Job__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Hours</name>
        <label>Get Volunteer Hours</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Confirmed_Hours_By_Selected_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedShiftRecord.GW_Volunteers__Volunteer_Job__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactid</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <outputReference>varConfirmedVolunteerHours</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GW_Volunteers__Volunteer_Shift__c</queriedFields>
        <queriedFields>GW_Volunteers__Volunteer_Job__c</queriedFields>
        <queriedFields>GW_Volunteers__Contact__c</queriedFields>
        <queriedFields>GW_Volunteers__Status__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Past_Shift_Selection_Message</name>
        <label>Display Past Shift Selection Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Past_Shift_Message</name>
            <fieldText>&lt;p&gt;Dear Volunteer,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It appears that you have chosen a shift from the past. Would you mind registering for a shift in the future, please?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank You, for your support.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards&lt;/p&gt;&lt;p&gt;Admin Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Shift_Info</name>
        <label>Display_Shift_Info</label>
        <locationX>842</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Recurring_Signup</targetReference>
        </connector>
        <fields>
            <name>Shift_Details</name>
            <fieldText>Shift Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shift_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacer_1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Selected_Shift</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varCurrentShiftRecordCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-2a0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Shift Start Date &amp; Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Shift_End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-b000&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Shift End Date &amp; Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Shift End Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Duration__c&quot;,&quot;guid&quot;:&quot;column-e4ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Duration&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Duration (Hours)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Job_Name__c&quot;,&quot;guid&quot;:&quot;column-97f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Job&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Job Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-0a7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Shift_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Shift_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shift_Selection</name>
                    <fieldText>&lt;p&gt;There are &lt;strong&gt;{!varRecurrigShiftCount} &lt;/strong&gt;future shifts for this Job. Do you want to sign up for any future shifts?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Shift_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shift_toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Confirm</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Shift_Info_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecurrigShiftCount</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Future_Shifts</name>
            <fieldText>Future Shifts</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Future_Shifts_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacer_2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Recurring_Shift_Selection</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GW_Volunteers__Volunteer_Hours__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Recurring Shift</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varInsertRecordCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Planned_Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-e76a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Planned Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Hours_Worked__c&quot;,&quot;guid&quot;:&quot;column-d001&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Shift Duration&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Hours Worked&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedRecordsCollection</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Shift_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Sign Up</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Signed_Up_Message</name>
        <label>Display Signed Up Message</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear Volunteer,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It seems that you&apos;ve already signed up for this shift. If this isn&apos;t accurate, kindly get in touch with the Volunteer Coordinator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank You, for your support.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Admin Team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Selected_Shift</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllowPastShift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Confirmed_Hours_By_Selected_Shifts_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Selected_Shift_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Existing_Shift_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>shiftid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAllRecurringShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>varConfirmedVolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varCurrentShiftRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>varExistingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varFoundCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInsertRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varInsertRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varInsertSelectedHourRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varRecurrigShiftCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSelectedRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varSelectedShiftRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>varSignedUpAlready</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
